* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Courier New", Courier, monospace;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  align-items: center;
  gap: 50px;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 375px;
  align-items: center;
  gap: 50px;
  border-style: solid;
  border-radius: 5px;
}
img {
  width: 60%;
  height: auto;
  column-gap: 2px;
}
.index-container-1 {
  font-size: 96px;
  color: black;
}
.index-container-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.index-container-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 360px;
  margin-top: 0px;
}
.index-container-3 label {
  font-size: 25px;
}
.index-container-3 form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin-top: 30px;
}
.index-container-3-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}
.index-container-3-form select {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100px;
  height: 30px;
}
.index-container-3-numberbutton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 30px;
}
.index-container-3-numberbutton input {
  width: 94px;
}
.index-container-3-startbutton {
  display: flex;
  justify-content: center;
  border-radius: 60%;
}
.index-container-3-startbutton input {
  width: 250px;
  height: 30px;
  margin-top: 10px;
  border-radius: 12px;
  background-color: white;
}
.checkbox-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  margin-left: 10px;
}
.buttonsubmmit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.buttonsubmmit input {
  height: 30px;
  width: 250px;
  border-radius: 12px;
  background-color: white;
}
#pquestion {
  margin-bottom: 30px;
  width: 350px;
  display: flex;
  text-align: center;
  font-weight: bold;
}
.questions-container-2 {
  width: 350px;
}
.result-container-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
.result-container-2 {
  font-size: 40px;
  font-weight: bold;
}
.total {
  margin-top: 50px;
}
.totaltext {
  margin: 20px;
}
.checkbox-1 label {
  color: black;
}
